.cafe-adress {
    //width: 14.375rem;
    //height: 6.25rem;
    padding-top: 4.375rem;
    padding-left: 4rem;
    // padding: 9.375rem 4.063rem 8.75rem 5rem;
}


.cafe-text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.813rem;
    color: var(--color-blue);
    line-height: 1.25rem;
    text-align: right;
}

.cafe_header {
    padding-top: 5.938rem;
    padding-left: 5.063rem;
    padding-right: 3rem;
    //  padding: 10.938rem 0 10.398rem 0rem;
}


.cafe_img {
    padding-left: 8rem;

}


.img-photo {
    width: 31.25rem;
    height: 14.375rem;
}

.link-cafe {
    color: #A9CADC;
    text-decoration: underline;
}